/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.custauth{
	margin-top: 50px;
	background-color: #F8F8F8 !important;
	padding: 20px;
	position: relative;
}
.custauth__title{
	text-align: center;
	margin: 0 0 20px;
	font-weight: bolder;
}
.custauth__form{

}
.custauth__input{
	border: 1px solid #DDD !important;
	width: 100%;
	margin-bottom: 8px;
	padding: 8px 8px;
	border-radius: 4px;
}

.custauth__submit{
	display: block;
	border: 1px solid #DDD !important;
	width: 100%;
	padding: 8px 8px;
	background-color: #45D484 !important;
	font-family: "Droid Sans", helvetica, sans-serif;
	font-size: 1.7rem;
	font-weight: bold;
	border-radius: 4px;
}
.custauth__submit:focus,
.custauth__submit:visited,
.custauth__submit:hover{
	background-color: #5BF69F !important;
	color: rgba(0,0,0,.4) !important;
}
.custauth__link{
	color: #563DBC !important;
	font-size: 14px;
}
.custauth__link:hover,
.custauth__link:focus,
.custauth__link:visited{
	color: #7A59FF !important;
	text-decoration: none;
}
.custauth__create,
.custauth__forget{
	font-size: 14px;
	color: #6E6E6E !important;
	margin: 0 0 5px;
}

.custauth__links{
	padding: 13px 15px 0;
}
.custauth__error{

}
.custauth__error p{
	padding: 8px 0 8px 5px;
	margin: 0 0 8px;
	background-color: #FFF !important;
	border-left: 3px solid #F63E3E !important;
	color: #636363 !important;
	font-size: 12px;
	font-family: "Droid Sans", helvetica, sans-serif;
}

/* remember */
.remember{
	margin: 5px 0 8px;
}
.remember input[type="checkbox"]{
	margin: 0;
	vertical-align: middle;
}
.remember__label{
	margin: 0;
	font-size: 14px;
	color: #6E6E6E !important;
}

/* pull*/

.pull-left{
	float: left !important;
}
.pull-right{
	float: right !important;
}